*{
    background-color: black;
    margin: 0;
    color: white;
    scrollbar-width: none;
    
    
}

section h1{
    padding-left: 250px;
    font-size: 90px;
    padding-top: 100px;
    margin: 50px;
    
}
section p{
    margin-left: 300px;
    width: 25%;
    text-align: start;
    font-size: 30px;
    
}

section img{
    margin-left: 1000px;
    margin-top: -900px;
    margin-bottom: 1000px;
    position: absolute;
}

section p span{
    color: goldenrod;
}

header{
    display: flex;
    font-size: 30px;
    margin-left: 1300px;
   
}
header a{
    margin: 50px;
    text-decoration: none;
    color: rgb(255, 254, 254);
    transition-duration: 0.4s;
}

header a:hover{
    color: darkgoldenrod;
    scale: 1.20;
}

.insta{
    width: 30px;
    height: 30px;
}

.text{
    position: absolute;
    top: 45px;
    left: 50px;
    margin-left: 1350px;
    
}

